@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


@page {
  size: A4;
  margin: 0;

  @top-left {
    content: element(header);
  }

  @bottom-left {
    content: element(footer);
  }
}

* {
  box-sizing: border-box;
}


html body {
  margin: 0;
  margin-top: 0;
  padding: 0;
  color: var(--font-color);
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 29.7cm;
  box-sizing: border-box;
}

header {
  margin: 20px 40px;
  margin-top: 40px;
  position: running(header);
}

.headerSection {
  display: flex;
  justify-content: space-between;
}

.presupuesto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-left: 20px;
  width: 30%;
  line-height: 0px;
}

.centerDocument {
  margin: 10px 40px;
  flex: 1;
}

.clientTable2 {
  width: 100%;
  margin: 5px auto;
  border-collapse: collapse;
}

.logoTable {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.clientTable2 th {
  border: 0.5px solid #1a1919;
  padding: 6px;
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
  background-color: #3d3d3e;
  text-align: left;
  color: white;
}

.logoTable th {
  border: 0.5px solid #1a1919;
  padding: 6px;
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
  background-color: #3d3d3e;
  text-align: left;
  color: white;
}

.clientTable2 td {
  padding: 6px;
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
}

.logoTable td {
  padding: 6px;
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
}

.alt {
  width: 20%;
  text-align: start;
}



.color {
  background-color: #3d3d3e;
  color: white;
}

.border {
  border: 0.5px solid #1a1919;
}

.datosE {
  font-size: 10px;
  width: 100%;
}

.text-decoration {
  text-decoration: underline;
}

.space {
  padding: 0 5px;
  margin: 2px;
}

.hidden {
  display: none;
}

.datosEmpresa {
  border: solid 2px black;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 60%;
  padding: 2px;
  text-align: center;
}

.textEmpresa {
  font-size: 10px;
}

.textCliente {
  font-size: 10px;
  margin: 0;
}

.imgDescp {
  margin-top: 10px;
  height: 200px;
  width: 200px;
}

.detalleCot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableImg {
  width: 100%;

}

.images {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.imgLogo {
  height: 100px;
  width: 100px;
}

.prioridad {
  align-self: flex-start;
  margin: 10px 0;
}

.redColor {
  color: red;
  font-weight: 800;
}

.normal {
  color: black;
  font-weight: normal;
}